* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 74px;
  background-color: #222222;
}

.header__logo {
  width: 44px;
  height: 38px;
  margin-left: 231px;
  margin-top: 18px;
  cursor: pointer;
}

.header__glass {
  width: 26px;

  margin-left: 41px;
  cursor: pointer;
}

.header__icon-set {
  display: block;
  width: min(100% - 0rem, 200px);
  margin-top: 26px;
  position: relative;
  left: 50%;
}

.header__icon-set > * {
  margin-right: 20px;
  width: 32px;
  height: 30px;

  cursor: pointer;
}

.cart-item::before {
  display: flex;
  width: 20px;
  height: 20px;

  position: absolute;
  top: -0.5rem;
  right: 3rem;
  border-radius: 1em;
  background-color: #f26376;
  content: "5";
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  z-index: 2;
}

.dropdown {
  display: none;
  flex-direction: column;
  width: 232px;
  height: 630px;
  
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 1em;

  background-color: white;
  box-shadow: 1px 1px 55px 1px rgba(0, 0, 0, 0.507);
  justify-content: center;
  align-items: left;
  font-weight: bold;
  z-index: 4;
}

.dropdown-headline {
  padding: 1rem;
  color: #000;
  font-size: 0.875rem;
  font-family: Lato;
  font-weight: 700;
}

.menu-list__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #f26376;
  padding: 1rem;

  color: #F16D7F;
  font-size: 0.875rem;
  font-family: Lato;

}

.menu-list__items > a {
  text-decoration: none;
  margin-left: 1rem;

  color: #6F6E6E;
  font-size: 0.875rem;
  font-family: Lato;

}

.burger-icon:hover .dropdown {
  display: flex;
}

.hero-section {
  display: flex;
  background-color: #f1e4e6;
  width: min(100% - 0rem, 1600px);
  margin: 0 auto;
}

.hero-section > img {
  max-width: 100%;
}

.hero-logo {
  display: flex;
  margin-top: 280px;
}

.hero-line-element {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
}

.hero-logo-text-wrapper {
  margin-left: 16px;
}

.logo-line1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.logo-line2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.final-word {
  color: #f16d7f;
}

.tile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.tile-section__tile1 > img,
.tile-section__tile2 > img,
.tile-section__tile3 > img {
  width: 100%;
}

.logo-image {
  width: 1140px;
}

.tile-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1140px;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;

  max-height: 260px;
}

.tile-section,
.tile-section__tile4 > * {
  text-transform: uppercase;
}

.tile-section__tile1 > *:not(img),
.tile-section__tile2 > *:not(img),
.tile-section__tile3 > *:not(img) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
}

.tile-section__tile4 > *:not(img) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 9rem;
}

.tile-line1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
}

.tile-line2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #f16d7f;
}

.tile2-line1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
}

.long-img {
  margin-top: 30px;
  max-width: 100%;
}

.featured-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.featured-title {
  margin-top: 96px;
  margin-bottom: 6px;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.featured-description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;

  margin-bottom: 48px;
}

.featured-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  width: min(100% - 0rem, 1140px);

  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.featured-card > img {
  width: 100%;
}

.featured-card {
  display: flex;
  flex-direction: column;
  width: min(100% - 0rem, 360px);
  cursor: pointer;
}

.card-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 44px;
  inset: 0;
  margin: auto;
  position: absolute;
  top: 110rem;
  z-index: 3;
  transition: all 0.3s ease;
  opacity: 0;
}

.featured-card:hover > .card-overlay {
  opacity: 1;
  cursor: pointer;
}

.featured-card img:hover {
  position: relative;
  z-index: 2;
  filter: contrast(10%);
}

.card-overlay:hover ~ img {
  filter: contrast(10%);
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 44px;
  border: 2px solid white;
  background: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.card-icon {
  width: 32px;
  height: 29px;
  margin-right: 1rem;
  position: relative;
}

.card-icon path {
  fill: white;
}

.featured-card-title {
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 16px;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.featured-card-desc {
  margin-bottom: 16px;
  width: min(100% - 0rem, 315px);

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  padding: 1rem;

  color: #5d5d5d;
}

.featured-card-price {
  margin-bottom: 24px;
  margin-left: 16px;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #f16d7f;
}

.featured-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem, 212px);
  height: 48px;
  border: 1px solid #ff6a6a;

  background: none;
  margin-top: 48px;
  margin-bottom: 60px;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #f26376;
  cursor: pointer;
  transition: all 0.2s;
}

.featured-btn:hover {
  background-color: #f16d7f;
  border-color: #ff6a6a;
  color: white;
}

.additional-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem, 1600px);
  height: 300px;
  background-color: #222224;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: min(100% - 0rem, 360px);
  height: 134px;
}

.info-icon1 {
  display: inline-block;
  background: url(./img/icons/truck.svg) no-repeat;
  width: 46px;
  height: 32px;
}

.info-icon2 {
  display: inline-block;
  background: url(./img/icons/discount.svg) no-repeat;
  width: 40px;
  height: 38px;
}

.info-icon3 {
  display: inline-block;
  background: url(./img/icons/crown.svg) no-repeat;
  width: 48px;
  height: 35px;
}

.info-headline {
  color: #fbfbfb;
  font-size: 1.2475rem;
  font-family: Lato;
  margin-top: 1.75rem;
}

.info-description {
  display: flex;
  width: 22.5rem;
  height: 2.125rem;
  color: #fbfbfb;
  text-align: center;
  font-size: 0.87325rem;
  font-family: Lato;
  font-weight: 300;
  margin-top: 1rem;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  position: relative;
  width: min(100% - 0rem, 1600px);
  height: 448px;
  background-image: url(./img/jpgs_pngs/Layer_41.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  z-index: 1;
}

.subscribe-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 360px);
  height: 225px;
  margin-left: 230px;
  margin-right: 21rem;
  position: relative;
  z-index: 2;
}

.subscribe-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 557px);
  height: 225px;
  margin: 0 auto;
  color: #222224;

  font-size: 1.5rem;
  font-family: Lato;
  font-weight: 700;
  line-height: 167.2%;

  position: relative;
  z-index: 2;
}

.subscribe-desc {
  display: flex;
  color: #222224;
  text-align: center;
  font-size: 1.25rem;
  font-family: Lato;
  text-wrap: balance;
}

.subscribe-desc2 {
  color: #222224;
  font-size: 1.25rem;
  font-family: Lato;
  font-style: italic;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 32px;
}

.sub-email {
  display: flex;
  width: 356px;
  height: 49px;
  color: #f16d7f;
  border-style: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
}

.sub-email::placeholder {
  color: #222224;
}

.sub-btn {
  width: 126px;
  height: 49px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 1em 1em 0;
  background-color: #f16d7f;
  color: #fff;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem, 1600px);
  height: 79px;
  background-color: #222224;
}

.footer-copyright {
  display: flex;
  width: min(100% - 0rem, 332px);
  color: #fbfbfb;
  font-size: 1rem;
  font-family: Lato;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 148px);
  margin-left: 40rem;
  gap: 8px;
}

.icon {
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  background-color: #f26376;
}

.icon:hover path {
  transition: all 0.2s ease-in-out;
  fill: white;
}

.icon1,
.icon2,
.icon3,
.icon4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: white;
  cursor: pointer;
}

/* Tablet queries */

@media (width < 1024px) {
  .header__navigation {
    width: 100%;
    height: 74px;
    background-color: #222222;
  }

  .header__logo {
    width: 44px;
    height: 38px;
    margin-left: 32px;
    margin-top: 18px;
    cursor: pointer;
  }

  .header__icon-set {
    justify-content: center;
    align-items: center;
  }

  .hero-section {
    width: min(100% - 0rem, 768px);
    height: 368px;
  }

  .hero-section > img {
    max-width: 100%;
    height: 368px;
  }

  .hero-logo {
    display: flex;
    margin-top: 138px;
    margin-left: 38px;
  }

  .header__icon-set {
    display: block;
    width: min(100% - 0rem, 200px);
    margin-top: 25px;
    position: relative;
    left: 55%;
  }

  .logo-line1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }

  .logo-line2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .tile-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 0 auto;
    gap: 18px;

    margin-top: 20px;
    height: 167px;
  }

  .tile-section__tile1 > img,
  .tile-section__tile2 > img,
  .tile-section__tile3 > img {
    width: min(100% - 0rem, 232px);
    max-height: 167px;
  }

  .tile-section__tile4 > p {
    top: 6rem;
  }

  .long-img {
    margin-top: 19px;
    max-width: 734px;
  }

  .featured-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    width: min(100% - 0rem, 736px);

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 28px;
  }

  .featured-btn {
    margin-top: 20px;
  }

  .card-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 44px;
    inset: 0;
    margin: auto;
    position: absolute;
    top: 75rem;
    left: 25rem;
    z-index: 3;
    transition: all 0.3s ease;
  }

  .additional-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem, 1000px);
    height: 610px;
    background-color: #222224;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    width: min(100% - 0rem, 360px);
    height: 134px;
  }

  .info1 {
    margin-top: 48px;
  }

  .info3 {
    margin-bottom: 64px;
  }

  .info-icon1 {
    display: inline-block;
    background: url(./img/icons/truck.svg) no-repeat;
    width: 46px;
    height: 32px;
  }

  .info-icon2 {
    display: inline-block;
    background: url(./img/icons/discount.svg) no-repeat;
    width: 40px;
    height: 38px;
  }

  .info-icon3 {
    display: inline-block;
    background: url(./img/icons/crown.svg) no-repeat;
    width: 48px;
    height: 35px;
  }

  .info-headline {
    color: #fbfbfb;
    font-size: 1.2475rem;
    font-family: Lato;
    margin-top: 1.75rem;
  }

  .info-description {
    display: flex;
    width: 22.5rem;
    height: 2.125rem;
    color: #fbfbfb;
    text-align: center;
    font-size: 0.87325rem;
    font-family: Lato;
    font-weight: 300;
    margin-top: 1rem;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: min(100% - 0rem, 1000px);
    height: 693px;
    background-image: url(./img/jpgs_pngs/Layer_41.png);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    );
    z-index: 1;
  }

  .subscribe-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 360px);
    height: 225px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .subscribe-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 557px);
    height: 225px;
    margin-top: 48px;
    color: #222224;

    font-size: 1.5rem;
    font-family: Lato;
    font-weight: 700;
    line-height: 167.2%;

    position: relative;
    z-index: 2;
  }

  .subscribe-desc {
    color: #222224;
    text-align: center;
    font-size: 1.25rem;
    font-family: Lato;
    text-wrap: nowrap;
  }

  .subscribe-desc2 {
    color: #222224;
    font-size: 1.25rem;
    font-family: Lato;
    font-style: italic;
    text-wrap: nowrap;
  }

  .input-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 140px;
  }

  .sub-email {
    display: flex;
    width: 356px;
    height: 49px;
    color: #f16d7f;
    border-style: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
  }

  .sub-email::placeholder {
    color: #222224;
  }

  .sub-btn {
    width: 126px;
    height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 1em 1em 0;
    background-color: #f16d7f;
    color: #fff;
    cursor: pointer;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem, 1000px);
    height: 79px;
    background-color: #222224;
  }

  .footer-copyright {
    display: flex;
    text-wrap: nowrap;
    width: min(100% - 0rem, 250px);
    color: #fbfbfb;
    font-size: 1rem;
    font-family: Lato;
    margin-left: 10%;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 148px);
    margin-left: 30%;
    gap: 8px;
  }

  .icon {
    transition: all 0.2s ease-in-out;
  }

  .icon:hover {
    background-color: #f26376;
  }

  .icon:hover path {
    transition: all 0.2s ease-in-out;
    fill: white;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: white;
    cursor: pointer;
  }
}

/* Mobile queries */

@media (width < 768px) {

  body {
    padding: 0 1rem;
  }

  .header__navigation {
    width: 100%;
    height: 74px;
    background-color: #222222;
  }

  .header__logo {
    width: 44px;
    height: 38px;
    margin-left: 16px;
    margin-top: 18px;
    cursor: pointer;
  }

  .header__icon-set {
    justify-content: center;
    align-items: center;
  }

  .profile-icon,
  .cart-icon {
    display: none;
  }

  .cart-item::before {
    display: none;
  }


  .hero-section {
    width: 100%;
    height: 363px;
  }

  .hero-section > img {
    display: none;
  }

  .hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .header__icon-set {
    display: block;
    width: min(100% - 0rem, 32px);
  }

  .logo-line1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }

  .logo-line2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .tile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 auto;
    margin-top: 380px;
  }

  .tile-section__tile1 > img,
  .tile-section__tile2 > img,
  .tile-section__tile3 > img {
    width: min(100% - 0rem, 343px);
    max-height: 247px;
  }

  .tile-section__tile4 {
    margin-top: 210px;
  }

  .tile-section__tile4 > p {
    top: 15rem;
    position: relative;
    z-index: 1;
  }

  .long-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: min(100% - 0rem, 343px);
    height: 111px;
    object-fit: cover;

    margin: 0 auto;
    position: relative;
    top: 10rem;
  }

  .featured-title {
    margin-top: 15rem;
  }

  .featured-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 28px;
  }

  .featured-btn {
    margin-top: 20px;
  }

  .card-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 44px;
    inset: 0;
    margin: auto;
    position: absolute;
    top: 160rem;
    z-index: 3;
    transition: all 0.3s ease;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: min(100% - 0rem, 1000px);
    height: 550px;
    background-image: url(./img/jpgs_pngs/Layer_41.png);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    );
    z-index: 1;
  }

  .subscribe-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 343px);
    height: 194px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    margin-top: 64px;
  }

  .subscribe-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 341px);
    height: 123px;
    margin-top: 59px;
    color: #222224;

    font-size: 1.5rem;
    font-family: Lato;
    font-weight: 700;
    line-height: 167.2%;

    position: relative;
    z-index: 2;
  }

  .subscribe-desc {
    display: flex;
    color: #222224;
    text-align: center;
    font-size: 1.25rem;
    font-family: Lato;
    text-wrap: balance;
  }

  .subscribe-desc2 {
    color: #222224;
    font-size: 1.25rem;
    font-family: Lato;
    font-style: italic;
    margin-bottom: 3.69rem;
  }

  .input-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 6.87rem;
  }

  .sub-email {
    display: flex;
    width: 341px;
    height: 49px;
    color: #f16d7f;
    border-style: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
  }

  .sub-email::placeholder {
    color: #222224;
  }

  .sub-btn {
    width: 126px;
    height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 1em 1em 0;
    background-color: #f16d7f;
    color: #fff;
    cursor: pointer;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem, 1000px);
    height: 143px;
    background-color: #222224;
  }

  .footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 4rem;
    width: min(100% - 0rem, 250px);
    color: #fbfbfb;
    font-size: 1rem;
    font-family: Lato;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 148px);
    gap: 8px;
  }

  .icon {
    transition: all 0.2s ease-in-out;
  }

  .icon:hover {
    background-color: #f26376;
  }

  .icon:hover path {
    transition: all 0.2s ease-in-out;
    fill: white;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: white;
    cursor: pointer;
  }
}
