@use "../mixins/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost/Jost-VariableFont_wght.ttf");
}

.wrapper {
  @include mixins.centerFlex;
  flex-direction: column;
  max-width: 1920px;
}

.header-wrapper {
  @include mixins.centerFlex;
  margin-top: 44px;

  width: 100%;
  height: 50px;
  margin-bottom: 57px;
  &_text {
    color: #292f36;
    font-family: "DM Serif Display";
    font-size: 2.5rem;
    line-height: 125%;
  }
  & a {
    text-decoration: none;
  }
}

.header-wrapper-logo {
  @include mixins.centerFlex;
  &_svg {
    width: 2.12488rem;
    height: 2.125rem;
    margin-right: 1rem;
  }
}

nav {
  @include mixins.centerFlex;
  & li {
    list-style: none;
    padding: 1rem;

    & a {
      text-decoration: none;
      color: #292f36;
      font-family: Jost;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 125%;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero {
  position: relative;
  margin-bottom: 96px;
  &_header {
    width: 434px;
    color: #292f36;
    font-family: "DM Serif Display";
    font-size: 4.0625rem;
    font-weight: 400;
    line-height: 125%;

    position: absolute;
    top: 208px;
    left: 52px;
  }
  &_paragraph {
    width: 434px;
    color: #4d5053;
    font-family: Jost;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01375rem;

    position: absolute;
    top: 388px;
    left: 52px;
  }
  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 220px;
    height: 75px;
    border-radius: 18px;
    border: none;

    text-align: center;
    font-family: Jost;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.0225rem;

    color: white;
    background-color: #292f36;
    box-shadow: 1px 1px 11px 1px rgba(#cda274, 0.432);
    position: absolute;
    top: 475px;
    left: 52px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #fff;
      color: #292f36;
      box-shadow: 1px 1px 4px 1px rgba(#292f36, 0.2);
    }
  }
}

.follow-projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
  &_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
  }
  &_text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 737px;
    margin-bottom: 93px;
    &_header {
      color: #292f36;
      text-align: center;
      font-family: "DM Serif Display";
      font-size: 3.125rem;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.0625rem;
    }

    &_text {
      color: #4d5053;
      text-align: center;
      font-family: Jost;
      font-size: 1.375rem;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.01375rem;
    }
  }
  &_grid-card {
    display: flex;
    flex-direction: column;
    width: 550px;
    &_img {
      width: 525px;
      height: 548px;
      margin-bottom: 24px;
    }
    &_wrapper {
      display: flex;
      justify-content: space-between;
      width: 525px;
    }
    & h3 {
      color: #292f36;
      font-family: "DM Serif Display";
      font-size: 1.5625rem;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.03125rem;
      grid-column: 1 / span 4;
    }
    & p {
      color: #4d5053;
      font-family: Jost;
      font-size: 1.375rem;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.01375rem;
      grid-column: 1 / span 1;
    }
    &_btn {
      grid-column: 2;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border-radius: 10rem;
      border: none;
      background: #f4f0ec;
      cursor: pointer;
      &:hover {
        background-color: #4d5053b6;
      }
    }
    &_btn-arrow {
      width: 8px;
      height: 18px;
    }
  }
  &_text-wrap {
    display: flex;
    flex-direction: column;
  }
}

.stats {
  display: flex;
  width: 100%;
  gap: 54px;
  justify-content: center;
  align-items: center;
  background-color: #f4f0ec;
  height: 28.5625rem;
  margin-bottom: 96px;
  &_point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cda274;
    font-family: "DM Serif Display";
    font-size: 5.3125rem;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.10625rem;
  }
  &_line {
    background: #cda274;
    width: 0.0625rem;
    height: 8.125rem;
  }
  &_text {
    color: #4d5053;
    font-family: Jost;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01375rem;
  }
}

.articles-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &_header {
    color: #292f36;
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.0625rem;
    margin-bottom: 12px;
  }
  &_text {
    color: #4d5053;
    text-align: center;
    font-family: Jost;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01375rem;
    margin-bottom: 52px;
  }
}

.articles-news-container {
  display: flex;
  gap: 27px;
  margin-bottom: 96px;
}

.articles-news-card {
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 521px;
  border-radius: 62px;
  background-color: #e7e7e7;
  padding: 1.5rem;
  margin-top: 1rem;

  &_img {
    height: 289px;
    margin-bottom: 21px;
  }
  &_plaque {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.75rem;
    height: 2.5625rem;
    flex-shrink: 0;
    border-radius: 0.5rem 0.5rem 0.5rem 0rem;
    background: #fff;

    color: #4d5053;
    font-family: Jost;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01rem;
    text-transform: capitalize;

    position: relative;
    margin-top: -5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  &_header {
    color: #292f36;
    font-family: "DM Serif Display";
    font-size: 1.5625rem;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.03125rem;
    margin-bottom: 30px;
  }

  &_text {
    color: #4d5053;
    font-family: Jost;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01rem;
    text-transform: capitalize;
  }
  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #4d505373;
    }
  }
}

.footer {
  @include mixins.centerFlex;
  align-items: flex-start;
  padding: 0 5rem;
  gap: 200px;
  margin-bottom: 120px;
  &_column {
    display: flex;
    flex-direction: column;
  }
  &_logo-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 18px;
  }
  &_logo {
    width: 34px;
    height: 34px;
  }
  &_logo-text {
    color: #292f36;
    font-family: "DM Serif Display";
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 125%;
  }
  &_logo-description {
    width: 393px;
    color: #4d5053;
    font-family: Jost;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01375rem;
    margin-bottom: 31px;
  }
  &_svg-wrapper {
    display: flex;
    gap: 1rem;
    width: 225px;
  }
  &_footer_twitter-logo {
    width: 18px;
    height: 22px;
  }
  &_footer_li-logo {
    width: 18px;
    height: 22px;
  }
  &_header {
    margin-bottom: 20px;
    font-family: "DM Serif Display";
    font-size: 1.5625rem;
    font-weight: 400;
    line-height: 125%;
  }
  &_list {
    list-style: none;
    color: #4d5053;
    font-family: Jost;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 300%;
    letter-spacing: 0.01375rem;
    & a {
      text-decoration: none;
      color: #292f36;
    }
  }
  &_text {
    color: #4d5053;
    font-family: Jost;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01375rem;
  }
}
