* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.header__navigation {
    display: flex;
    width: min(100% - 0rem, 1600px);
    height: 75px;
    background-color: #222222;
}

.header__logo {
    width: 44px;
    height: 38px;
    margin-left: 231px;
    margin-top: 18px;
    cursor: pointer;
}

.header__glass {
    width: 26px;

    margin-left: 41px;
    cursor: pointer;
}

.header__icon-set {
    display: block;
    width: min(100% - 0rem, 200px);
    margin-top: 26px;
    position: relative;
    left: 50%;
}

.header__icon-set > * {
    margin-right: 20px;
    width: 32px;
    height: 30px;

    cursor: pointer;
}

.hero-section {
    display: flex;
    width: min(100% - 0rem, 1600px);
    background-color: #F1E4E6;
}

.hero-section > img {
    max-width: 100%;
    
}

.hero-logo {
    display: flex;
    margin-top: 280px;
}

.hero-line-element {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}

.hero-logo-text-wrapper {
    margin-left: 16px;
}

.logo-line1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.logo-line2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.final-word {
    color: #F16D7F;
}

.tile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.tile-section__tile1 > img,
.tile-section__tile2 > img,
.tile-section__tile3 > img,
.tile-section__tile4 > img {
    width: 100%;
}

.tile-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    max-width: 1080px;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;

    max-height: 260px;
}

.tile-section, .tile-section__tile4 > * {
    text-transform: uppercase;
}

.tile-section__tile1 > *:not(img),
.tile-section__tile2 > *:not(img),
.tile-section__tile3 > *:not(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
}

.tile-section__tile4 > *:not(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 9rem;
}

.tile-line1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #FFFFFF;
}


.tile-line2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F16D7F;
}


.tile2-line1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

.long-img {
    margin-top: 30px;
}

.featured-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.featured-title {
    margin-top: 96px;
    margin-bottom: 6px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.featured-description {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;

    margin-bottom: 48px;
}

.featured-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    width: min(100% - 0rem, 1140px);

    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.featured-card > img {
    width: 100%;
}

.featured-card > img:hover {
    cursor: pointer;
    filter: contrast(10%);
    
}

.featured-card {
    display: flex;
    flex-direction: column;
    width: min(100% - 0rem, 360px);

    cursor: pointer;
}


.featured-card-title {
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 16px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.featured-card-desc {
    margin-bottom: 16px;
    width: min(100% - 0rem, 315px);

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    padding: 1rem;

    color: #5D5D5D;
}

.featured-card-price {
    margin-bottom: 24px;
    margin-left: 16px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #F16D7F;
}

.featured-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem, 212px);
    height: 48px;
    border: 1px solid #FF6A6A;

    background: none;
    margin-top: 48px;
    margin-bottom: 60px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #F26376;
    cursor: pointer;
}

/* Tablet queries */

@media (width < 769px) {
    .header__navigation {
        width: min(100% - 0rem, 768px);
        height: 75px;
        background-color: #222222;
    }

    .header__logo {
    width: 44px;
    height: 38px;
    margin-left: 32px;
    margin-top: 18px;
    cursor: pointer;
    }

    .header__icon-set {
    justify-content: center;
    align-items: center;
    }

    .hero-section {
    width: min(100% - 0rem, 768px);
    height: 368px;

    }

    .hero-section > img {
        max-width: 100%;
    }

    .hero-logo {
    display: flex;
    margin-top: 138px;
    margin-left: 38px;
    }

    .header__icon-set {
        display: block;
        width: min(100% - 0rem, 200px);
        margin-top: 25px;
        position: relative;
        left: 55%;
    }

    .logo-line1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    }

    .logo-line2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    }

    .tile-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 232 */
        justify-content: center;
        margin: 0 auto;
        gap: 18px;
        
        margin-top: 20px;
        height: 167px;
    }

    .tile-section__tile1 > img,
    .tile-section__tile2 > img,
    .tile-section__tile3 > img {
        width: min(100% - 0rem, 232px);
        max-height: 167px;
    }

    .tile-section__tile4 > p {
        top: 6rem;
    }

    .long-img {
        margin-top: 19px;
        max-width: 734px;
    }

    .featured-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    
        width: min(100% - 0rem, 736px);
    
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 28px;
    }

    .featured-btn {
        margin-top: 20px;
    }
}